cycler==0.10.0
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.7
geographiclib==1.49
geopy==1.20.0
georinex==1.11.0
jdcal==1.4.1
kiwisolver==1.1.0
matplotlib==3.0.3
mccabe==0.6.1
numpy==1.16.3
openpyxl==2.6.2
pandas==0.24.2
pudb==2019.1
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pyparsing==2.4.0
pyproj==2.2.0
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
termcolor==1.1.0
urwid==2.0.1
utm==0.5.0
webcolors==1.8.1
xarray==0.12.3
xlwt==1.3.0
